.titulo1{
    color: #AF0404;
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    
}
.titulo2{
    color: #AF0404;
    font-family: 'Lobster', cursive;
    display: flex;
    justify-content: center;
}
.titulo3{
    color: #171717;
    font-family: 'Lobster', cursive;
    font-size: 1.5rem;

}

.titulo4{
    color: #AF0404;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}
.contenedor{
    position: absolute;
    left: 950px;
}
.boton{
    background-color: #AF0404;
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

body{
    background-image: url(https://media3.giphy.com/media/0Xc4DuQ5E8yB4ZL56x/200w.webp?cid=ecf05e47ni66um1bue6jdabq078yzkypia3q8x3n3c2xjo2t&rid=200w.webp&ct=g);
    background-position: center;
    background-repeat: no-repeat;
    background-color: silver;
}
.table{
    background-color: #171717;
    color: #AF0404;
}
.table td{
    border: 1px solid;
    text-align: center;
}
.table th:hover{
    color: #AF0404;
    font-family: 'Lobster', cursive;
    background-color: silver;
}
.table tr{
    color: #AF0404;
    font-family: 'Lobster', cursive;
    background-color: #171717;
}
caption{
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}
.table td:hover{
    color: #AF0404;
    background-color: silver;
}
